@using TravelTask.Areas.Admin.Models.Destinations
@model DestinationsIndexViewModel


<a asp-action="Create" class="btn btn-success">Create</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Rating</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col" colspan="3">Actions</th>
        </tr>
    </thead>

    <tbody>

        @foreach(var destination in Model.Destinations)
        {
            <tr style="background-color:@(destination.IsDeleted ? "red" : "white" )">
                <th scope="row">@destination.Id</th>
                <th scope="row">@destination.Name</th>
                <th scope="row">@destination.Rating</th>
                <th scope="row">@destination.Price</th>
                <th scope="row">
                    @if(!string.IsNullOrEmpty(destination.CoverImageUrl))
                    {
                        <img height="100" width="100"  src="~/destinationimages/@destination.CoverImageUrl" />
                    }
                    else
                    {   
                        <p>No image available</p>
                    }
                </th>
                <th scope="row">
                    @if(destination.IsDeleted)
                    {
                        <a asp-action="RevokeDelete" asp-route-id="@destination.Id" class="btn btn-primary">Revoke Delete</a>
                    }
                    else
                    {
                        <a asp-action="Delete" asp-route-id="@destination.Id" class="btn btn-danger">Delete</a>
                    }
                    
                    <a asp-action="Update" asp-route-id="@destination.Id" class="btn btn-warning">Modify</a>
                </th>

            </tr>
        }
    </tbody>
</table>